body {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 16px;
    background-color: #F8EACC;
    font-family: 'Bebas Neue', cursive;
    background-image: url(dice.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 2rem;
}

main {
    background-color: rgba(255, 255, 255, 0.75);
    border: 4px solid #385152;
    border-radius: 25px;
    width: 60%;
    height: 500px;
}

input, button {
    max-width: 60%;
    margin: 0.8rem;
    outline: none;
}

h1 {
    font-size: 4rem;
    color: #DD2B2E;
    letter-spacing: 0.2rem;
}

p {
    font-size: 1.5rem;
    color: #385152;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}

.player-button {
    color: white;
    background-color: #385152;
    border: 1px solid #385152;
    border-radius: 25px;
    width: 150px;
    height: 2rem;
    text-transform: uppercase;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 0.1rem;
}

.reset, input {
    color: #385152;
    background-color: white;
    border: 4px solid #385152;
    border-radius: 25px;
    width: 150px;
    height: 2rem;
    text-transform: uppercase;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 0.1rem;
}

.longer {
    width:200px;
    text-align: center;
}
